In [1]:
import pandas as pd

In [6]:
df=pd.read_excel("C:/Users/Riya/Downloads/User Data.xlsx")
print(df)#show starting 5 entries and last 5 entries

   First Name Last Name                        Email UniqueCode Company Name  \
0   Test user       hjv                          jhv     jhhbjh           hj
1        User      User                  mvfne.sd.ds    AGG0I50            f
2        User      User                  mvfne.sd.ds    YK0U9D6            f
3        User      User                  mvfne.sd.ds    899FICB            f
4        User      User                  mvfne.sd.ds    65BZA8C            f
..        ...       ...                          ...        ...          ...
70     Khushi         K        khushi.k@hrontips.com    4S09VDB           52
71    Sankalp    Mishra  sankalp.mishra@hrontips.com    09VQY5A           53
72    Neelesh     Singh   neelesh.singh@hrontips.com    2YR3S9I           54
73    Sandeep    Gautam  sandeep.gautam@hrontips.com    NKQ65K6           55
74      Ankur    Rajput    ankur.rajput@hrontips.com    A94P8EU           56

   Job Title
0         hj
1          h
2          h
3          h
4          h
..       ...
70        52
71        53
72        54
73        55
74        56

[75 rows x 6 columns]

In [7]:
print(df.head(10))#show starting n entries

  First Name Last Name        Email UniqueCode Company Name Job Title
0  Test user       hjv          jhv     jhhbjh           hj        hj
1       User      User  mvfne.sd.ds    AGG0I50            f         h
2       User      User  mvfne.sd.ds    YK0U9D6            f         h
3       User      User  mvfne.sd.ds    899FICB            f         h
4       User      User  mvfne.sd.ds    65BZA8C            f         h
5       User      User  mvfne.sd.ds    XEW3L18            f         h
6       User      User  mvfne.sd.ds    Y74TA1P            f         h
7       User      User  mvfne.sd.ds    JF1J1V6            f         h
8       User        UT  mvfne.sd.ds    GT1J3I6            f         h
9       User      User  mvfne.sd.ds    5FA7QO9            f         h

In [8]:
print(df.tail(10))# show last n entries

   First Name Last Name                        Email UniqueCode Company Name  \
65     Khushi         K        khushi.k@hrontips.com    3KJ0Q8S           47
66    Sankalp    Mishra  sankalp.mishra@hrontips.com    B0P2NK9           48
67    Neelesh     Singh   neelesh.singh@hrontips.com    J38OZN8           49
68    Sandeep    Gautam  sandeep.gautam@hrontips.com    Y0K79UZ           50
69      Ankur    Rajput    ankur.rajput@hrontips.com    ENS788S           51
70     Khushi         K        khushi.k@hrontips.com    4S09VDB           52
71    Sankalp    Mishra  sankalp.mishra@hrontips.com    09VQY5A           53
72    Neelesh     Singh   neelesh.singh@hrontips.com    2YR3S9I           54
73    Sandeep    Gautam  sandeep.gautam@hrontips.com    NKQ65K6           55
74      Ankur    Rajput    ankur.rajput@hrontips.com    A94P8EU           56

   Job Title
65        47
66        48
67        49
68        50
69        51
70        52
71        53
72        54
73        55
74        56

In [9]:
print(df.head())# By default shows 5 entries(BE IT HEAD OR TAIL IF N NOT PASSED)

  First Name Last Name        Email UniqueCode Company Name Job Title
0  Test user       hjv          jhv     jhhbjh           hj        hj
1       User      User  mvfne.sd.ds    AGG0I50            f         h
2       User      User  mvfne.sd.ds    YK0U9D6            f         h
3       User      User  mvfne.sd.ds    899FICB            f         h
4       User      User  mvfne.sd.ds    65BZA8C            f         h

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   First Name    75 non-null     object
 1   Last Name     75 non-null     object
 2   Email         74 non-null     object
 3   UniqueCode    75 non-null     object
 4   Company Name  75 non-null     object
 5   Job Title     75 non-null     object
dtypes: object(6)
memory usage: 3.6+ KB

In [11]:
df.describe()

,First Name,Last Name,Email,UniqueCode,Company Name,Job Title
count,75,75,74,75,75,75
unique,12,13,13,75,62,63
top,Neelesh,Gautam,sandeep.gautam@hrontips.com,jhhbjh,f,h
freq,12,12,12,1,9,9

In [12]:
df.isnull().sum()

First Name      0
Last Name       0
Email           1
UniqueCode      0
Company Name    0
Job Title       0
dtype: int64