In [2]:
import pandas as pd

In [3]:
df=pd.read_excel("C:/Users/Riya/Downloads/Items.xlsx")
print(df)

                    Item Name   Price  Quant
0                       Laptop    800      5
1          Wireless Headphones    120      2
2                   Smartwatch    250      6
3          Mechanical Keyboard    150      3
4                 Gaming Mouse     50      9
5                    Desk Lamp     30      3
6                 Coffee Maker     80      1
7                 Air Purifier    180      4
8         Robot Vacuum Cleaner    300      8
9  Noise Cancelling Headphones    200      1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Item Name   10 non-null     object
 1   Price       10 non-null     int64
 2   Quant       10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 372.0+ bytes

In [5]:
print(df["Quant"])

0    5
1    2
2    6
3    3
4    9
5    3
6    1
7    4
8    8
9    1
Name: Quant, dtype: int64

In [6]:
df["Total Price"]=df["Price"]*df["Quant"]
print(df)

                    Item Name   Price  Quant  Total Price
0                       Laptop    800      5         4000
1          Wireless Headphones    120      2          240
2                   Smartwatch    250      6         1500
3          Mechanical Keyboard    150      3          450
4                 Gaming Mouse     50      9          450
5                    Desk Lamp     30      3           90
6                 Coffee Maker     80      1           80
7                 Air Purifier    180      4          720
8         Robot Vacuum Cleaner    300      8         2400
9  Noise Cancelling Headphones    200      1          200

In [7]:
df.loc[df["Price"]>=200,"Category"]="Costly"
df.loc[df["Price"]<200,"Category"]="Not Costly"

In [8]:
print(df)

                    Item Name   Price  Quant  Total Price    Category
0                       Laptop    800      5         4000      Costly
1          Wireless Headphones    120      2          240  Not Costly
2                   Smartwatch    250      6         1500      Costly
3          Mechanical Keyboard    150      3          450  Not Costly
4                 Gaming Mouse     50      9          450  Not Costly
5                    Desk Lamp     30      3           90  Not Costly
6                 Coffee Maker     80      1           80  Not Costly
7                 Air Purifier    180      4          720  Not Costly
8         Robot Vacuum Cleaner    300      8         2400      Costly
9  Noise Cancelling Headphones    200      1          200      Costly

In [12]:
dt={"Month":["January","February","March","April","May","June","July","August","September","October","November","December"]}
df=pd.DataFrame(dt)

In [13]:
print(df)

        Month
0     January
1    February
2       March
3       April
4         May
5        June
6        July
7      August
8   September
9     October
10   November
11   December

In [16]:
# slice every element of month 
#you can create a method in which each element of iterable i.e df["Month"] will be sent which will return sliced value 
#combing return value of all items finally and iterable will be returned where func was called ,this done using map func
def Sliceval (val):
    return val[0:3]

df["Short Month"]=df["Month"].map(Sliceval)
print(df)

        Month Short Month
0     January         Jan
1    February         Feb
2       March         Mar
3       April         Apr
4         May         May
5        June         Jun
6        July         Jul
7      August         Aug
8   September         Sep
9     October         Oct
10   November         Nov
11   December         Dec