In [1]:
import pandas as pd

In [2]:
d1={"Emp ID":["EP01","EP02","EP03","EP04","EP05","EP06"],
  "Age":[45,35,46,25,31,38],
  "Salary":[40000,50000,23455,67900,35782,45666]}
d2={"Emp ID":["EP01","EP02","EP03","EP04","EP05","EP06"],
  "Department":["IT","Sales","HR","IT","Sales","HR"]}

df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)
print(df1)
print()
print(df2)

  Emp ID  Age  Salary
0   EP01   45   40000
1   EP02   35   50000
2   EP03   46   23455
3   EP04   25   67900
4   EP05   31   35782
5   EP06   38   45666

  Emp ID Department
0   EP01         IT
1   EP02      Sales
2   EP03         HR
3   EP04         IT
4   EP05      Sales
5   EP06         HR

In [3]:
print(pd.merge(df1,df2,on="Emp ID",how="inner"))

  Emp ID  Age  Salary Department
0   EP01   45   40000         IT
1   EP02   35   50000      Sales
2   EP03   46   23455         HR
3   EP04   25   67900         IT
4   EP05   31   35782      Sales
5   EP06   38   45666         HR

In [8]:
print(pd.merge(right=df1,left=df2,on="Emp ID",how="right"))

  Emp ID Department  Age  Salary
0   EP01         IT   45   40000
1   EP02      Sales   35   50000
2   EP03         HR   46   23455
3   EP04         IT   25   67900
4   EP05      Sales   31   35782
5   EP06         HR   38   45666

In [16]:
d1={"Emp ID":["EP01","EP02","EP03","EP04","EP05","EP06"],
  "Age":[45,35,46,25,31,38],
  "Salary":[40000,50000,23455,67900,35782,45666]}
d2={"Emp ID":["EP07","EP02","EP03","EP04","EP05","EP08"],
  "Department":["IT","Sales","HR","IT","Sales","HR"]}

df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)

In [10]:
print(pd.merge(right=df1,left=df2,on="Emp ID",how="right"))

  Emp ID Department  Age  Salary
0   EP01        NaN   45   40000
1   EP02      Sales   35   50000
2   EP03         HR   46   23455
3   EP04         IT   25   67900
4   EP05      Sales   31   35782
5   EP06        NaN   38   45666

In [13]:
d1={"Emp ID":["EP01","EP02","EP03","EP04","EP05","EP06"],
  "Age":[45,35,46,25,31,38],
  "Salary":[40000,50000,23455,67900,35782,45666]}
d2={"Emp ID":["EP07","EP08","EP09","EP10","EP11"],
  "Age":[25,25,56,35,34],
  "Salary":[40600,60000,33455,47900,55782]}

df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)

In [15]:
print(pd.concat([df1,df2]))

  Emp ID  Age  Salary
0   EP01   45   40000
1   EP02   35   50000
2   EP03   46   23455
3   EP04   25   67900
4   EP05   31   35782
5   EP06   38   45666
0   EP07   25   40600
1   EP08   25   60000
2   EP09   56   33455
3   EP10   35   47900
4   EP11   34   55782