In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:/Users/Riya/Downloads/archive (4)/adult.data.csv")
print(df)

       age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[32561 rows x 15 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [4]:
d=df.groupby("sex").agg({"salary":"max"})
print(d)

       salary
sex
Female   >50K
Male     >50K

In [5]:
d=df.groupby(["education","sex"]).agg({"hours-per-week":"mean","capital-gain":"mean","capital-loss":"mean"})
print(d)

                     hours-per-week  capital-gain  capital-loss
education    sex
10th         Female       32.111864    174.901695     69.132203
             Male         39.336991    510.771160     51.164577
11th         Female       29.821759    128.108796     21.578704
             Male         36.312248    265.675639     66.650067
12th         Female       31.791667    174.729167     11.951389
             Male         37.768166    338.577855     42.494810
1st-4th      Female       31.978261     44.826087     34.826087
             Male         40.622951    156.434426     53.418033
5th-6th      Female       36.047619     53.833333     53.190476
             Male         39.859438    217.240964     73.333333
7th-8th      Female       36.200000     94.318750     54.775000
             Male         40.409465    279.905350     69.255144
9th          Female       33.916667    780.937500     16.277778
             Male         39.651351    171.294595     33.948649
Assoc-acdm   Female       37.358670    715.724466     68.472684
             Male         42.554180    591.309598    109.676471
Assoc-voc    Female       37.830000    455.078000     57.258000
             Male         43.753968    862.428571     81.539683
Bachelors    Female       39.329216   1051.970970     75.046943
             Male         44.037473   2061.521146    137.115899
Doctorate    Female       47.302326   3346.779070    309.511628
             Male         46.886850   5144.486239    250.571865
HS-grad      Female       36.577286    385.584661     53.585251
             Male         42.481367    667.957531     78.514414
Masters      Female       41.113806   1508.660448    140.595149
             Male         45.065712   3038.462511    178.516428
Preschool    Female       31.875000    281.750000      0.000000
             Male         38.828571   1180.285714     96.885714
Prof-school  Female       44.793478   3257.413043    157.413043
             Male         47.925620  11774.838843    245.229339
Some-college Female       34.574840    326.562010     47.529223
             Male         41.528428    769.162542     86.719955

In [6]:
print(df.groupby("relationship"))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000271A55F4050>

In [12]:
"""for item,data in df.groupby("relationship"):
    print("item->",item)
    print("data->",data)"""
g=df.groupby("relationship")
for i in g["age"]:
    print(i)

('Husband', 1        50
3        53
7        52
9        42
10       37
         ..
32550    43
32551    32
32552    43
32554    53
32557    40
Name: age, Length: 13193, dtype: int64)
('Not-in-family', 0        39
2        38
6        49
8        31
13       32
         ..
32544    31
32546    37
32548    65
32553    32
32555    22
Name: age, Length: 8305, dtype: int64)
('Other-relative', 74       79
110      24
144      70
152      33
159      42
         ..
32401    52
32477    49
32499    25
32524    26
32549    43
Name: age, Length: 981, dtype: int64)
('Own-child', 12       23
16       25
26       19
31       20
32       45
         ..
32512    20
32527    22
32535    22
32540    45
32559    22
Name: age, Length: 5068, dtype: int64)
('Unmarried', 17       32
19       43
21       54
24       59
35       48
         ..
32529    29
32534    37
32538    38
32543    45
32558    58
Name: age, Length: 3446, dtype: int64)
('Wife', 4        28
5        37
37       19
50       25
52       47
         ..
32528    31
32530    35
32545    39
32556    27
32560    52
Name: age, Length: 1568, dtype: int64)

In [13]:
g["age"].sum()

relationship
Husband           578099
Not-in-family     318464
Other-relative     32534
Own-child         125828
Unmarried         138853
Wife               62479
Name: age, dtype: int64

In [14]:
df.groupby("relationship").age.sum()

relationship
Husband           578099
Not-in-family     318464
Other-relative     32534
Own-child         125828
Unmarried         138853
Wife               62479
Name: age, dtype: int64

In [16]:
df.groupby("relationship")["age"].sum()

relationship
Husband           578099
Not-in-family     318464
Other-relative     32534
Own-child         125828
Unmarried         138853
Wife               62479
Name: age, dtype: int64