In [6]:
import pandas as pd

data = {"CustomerID": [100, 100, 101, 102],
        "Product": ['A', 'B', 'A', 'B'],
        "Quantity": [2, 1, 4, 3],
        "Month": ['Jan', 'Feb', 'March', 'Apr']}
df = pd.DataFrame(data)

# Pivot table showing total quantity sold for each product by month
pivot_table = df.pivot(index='Month', columns='Product', values='Quantity')
print(pivot_table)#No duplicate values should be there

Product    A    B
Month
Apr      NaN  3.0
Feb      NaN  1.0
Jan      2.0  NaN
March    4.0  NaN

In [9]:
data = {"CustomerID": [100, 100, 101, 102],
        "Product": ['A', 'B', 'B', 'B'],
        "Quantity": [2, 1, 4, 3],
        "Month": ['Jan', 'Feb', 'Jan', 'Feb']}
df=pd.DataFrame(data)
df.pivot_table(index="Month",columns="Product",values="CustomerID",aggfunc="count",margins=True)

Product    A    B  All
Month
Feb      NaN  2.0    2
Jan      1.0  1.0    2
All      1.0  3.0    4