In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:/Users/Riya/Downloads/weather.csv")
df

,day,chicago temp,chennai temp,berlin temp,chicago type,chennai type,berlin type
0,Monday,32,75,41,sunny,sunny,sunny
1,Tuesday,30,77,43,cloudy,rainy,sunny
2,Wednesday,28,75,45,rainy,cloudy,cloudy
3,Thursday,22,82,38,sunny,sunny,sunny
4,Friday,30,83,30,rainy,sunny,sunny
5,Saturday,20,81,45,cloudy,cloudy,rainy
6,Sunday,25,77,47,sunny,sunny,cloudy

In [4]:
df.to_csv("C:/Users/Riya/Downloads/SavedDataFrame.csv",index=False)

In [5]:
df.to_excel("C:/Users/Riya/Downloads/SavedDataFrameExcel.xlsx",index=False)

In [7]:
#xls not working