Pandas

Create DataFrame Using Dictionery

In [1]:
import pandas as pd
d={
    "Name":["Ritika","Riya","Kartik","Reena","Naresh"],
    "Age":[23,27,28,50,52],
    "Occupation":["BA","IT Asset","Web Analyst","House Wife","Lekhpal"]
}
df=pd.DataFrame(d)
print(df)

     Name  Age   Occupation
0  Ritika   23           BA
1    Riya   27     IT Asset
2  Kartik   28  Web Analyst
3   Reena   50   House Wife
4  Naresh   52      Lekhpal

In [8]:
d=[
    ["Ritika",23,"BA"],
    ["Riya",27,"IT Asset"],
    ["Kartik",28,"Web Analyst"],
    ["Reena",50,"House Wife"],
    ["Naresh",52,"Lekhpal"]
]
df=pd.DataFrame(d, columns=["Name", "Age", "Occupation"])
print(df)

     Name  Age   Occupation
0  Ritika   23           BA
1    Riya   27     IT Asset
2  Kartik   28  Web Analyst
3   Reena   50   House Wife
4  Naresh   52      Lekhpal

In [11]:
d=pd.Series(["Ritika","Riya","Kartik","Reena","Naresh"],name="Name")
df=pd.DataFrame(d)
print(df)

     Name
0  Ritika
1    Riya
2  Kartik
3   Reena
4  Naresh

In [12]:
import numpy as np
d=np.array([["Ritika",23,"BA"],["Riya",27,"IT Asset"], ["Kartik",28,"Web Analyst"], ["Reena",50,"House Wife"],["Naresh",52,"Lekhpal"]])
df=pd.DataFrame(d,columns=["Name", "Age", "Occupation"])
print(df)

     Name Age   Occupation
0  Ritika  23           BA
1    Riya  27     IT Asset
2  Kartik  28  Web Analyst
3   Reena  50   House Wife
4  Naresh  52      Lekhpal

In [15]:
df=pd.read_excel("C:/Users/Riya/Downloads/User Data.xlsx")
print(df)

   First Name Last Name                        Email UniqueCode Company Name  \
0   Test user       hjv                          jhv     jhhbjh           hj
1        User      User                  mvfne.sd.ds    AGG0I50            f
2        User      User                  mvfne.sd.ds    YK0U9D6            f
3        User      User                  mvfne.sd.ds    899FICB            f
4        User      User                  mvfne.sd.ds    65BZA8C            f
..        ...       ...                          ...        ...          ...
70     Khushi         K        khushi.k@hrontips.com    4S09VDB           52
71    Sankalp    Mishra  sankalp.mishra@hrontips.com    09VQY5A           53
72    Neelesh     Singh   neelesh.singh@hrontips.com    2YR3S9I           54
73    Sandeep    Gautam  sandeep.gautam@hrontips.com    NKQ65K6           55
74      Ankur    Rajput    ankur.rajput@hrontips.com    A94P8EU           56

   Job Title
0         hj
1          h
2          h
3          h
4          h
..       ...
70        52
71        53
72        54
73        55
74        56

[75 rows x 6 columns]

In [16]:
df=pd.read_csv("C:/Users/Riya/Downloads/HR_Analytics.csv")
print(df)

       EmpID  Age AgeGroup Attrition     BusinessTravel  DailyRate  \
0      RM297   18    18-25       Yes      Travel_Rarely        230
1      RM302   18    18-25        No      Travel_Rarely        812
2      RM458   18    18-25       Yes  Travel_Frequently       1306
3      RM728   18    18-25        No         Non-Travel        287
4      RM829   18    18-25       Yes         Non-Travel        247
...      ...  ...      ...       ...                ...        ...
1475   RM412   60      55+        No      Travel_Rarely        422
1476   RM428   60      55+        No  Travel_Frequently       1499
1477   RM537   60      55+        No      Travel_Rarely       1179
1478   RM880   60      55+        No      Travel_Rarely        696
1479  RM1210   60      55+        No      Travel_Rarely        370

                  Department  DistanceFromHome  Education EducationField  ...  \
0     Research & Development                 3          3  Life Sciences  ...
1                      Sales                10          3        Medical  ...
2                      Sales                 5          3      Marketing  ...
3     Research & Development                 5          2  Life Sciences  ...
4     Research & Development                 8          1        Medical  ...
...                      ...               ...        ...            ...  ...
1475  Research & Development                 7          3  Life Sciences  ...
1476                   Sales                28          3      Marketing  ...
1477                   Sales                16          4      Marketing  ...
1478                   Sales                 7          4      Marketing  ...
1479  Research & Development                 1          4        Medical  ...

      RelationshipSatisfaction  StandardHours  StockOptionLevel  \
0                            3             80                 0
1                            1             80                 0
2                            4             80                 0
3                            4             80                 0
4                            4             80                 0
...                        ...            ...               ...
1475                         4             80                 0
1476                         4             80                 0
1477                         4             80                 0
1478                         2             80                 1
1479                         3             80                 1

     TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
0                    0                      2                3
1                    0                      2                3
2                    0                      3                3
3                    0                      2                3
4                    0                      0                3
...                ...                    ...              ...
1475                33                      5                1
1476                22                      5                4
1477                10                      1                3
1478                12                      3                3
1479                19                      2                4

      YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  \
0                  0                  0                        0
1                  0                  0                        0
2                  0                  0                        0
3                  0                  0                        0
4                  0                  0                        0
...              ...                ...                      ...
1475              29                  8                       11
1476              18                 13                       13
1477               2                  2                        2
1478              11                  7                        1
1479               1                  0                        0

     YearsWithCurrManager
0                     0.0
1                     0.0
2                     0.0
3                     0.0
4                     0.0
...                   ...
1475                 10.0
1476                 11.0
1477                  2.0
1478                  9.0
1479                  0.0

[1480 rows x 38 columns]